.THIS .uiInput--input .input,.THIS .uiInputCheckbox, .THIS .uiInput--input.input,.THIS .uiInputTextArea, .THIS .border,.THIS .lightning-datepicker_datepicker .slds-form-element__control .slds-input-has-icon .slds-input-has-icon_right
{    border: 1px solid rgb(13, 156, 234)!important;
     font-size:0.8rem;
}
.THIS .ddheight
{
    height:35px !important;
}

.THIS .save
{
    color:#fff;
}
.THIS .h_card_dataCom
{
    font-weight: normal!important;
}
.THIS .card-header
{border-bottom: 1px #c6c6c6 dotted !important;
}
.THIS .card-bodypop
{
    overflow-y:Scroll;
    padding: 6px !important;
    background: #f6f7f8!important;
}
.THIS .box-card1
{
    width: 100%;
    background: #fff;
    border-radius: 4px;
    margin-bottom: 0px !important;
}
.THIS .rapidwi72{
        width: 95px;
}
.THIS .rapidwi72u{
        width: 110px;
}
.THIS .table{
    font-size: 0.8em;
}
.THIS .card-body1{
    padding: 15px !important;
    background: #f6f7f8!important;
}
.THIS .wi72{
    width: 175px;
}
.THIS .card-body{
    padding: 0px !important;
}
.THIS .slds-tabs_default__item, .THIS .slds-tabs--default__item{
    font-size: 14px;
    color:#000;
}
.THIS .card-bodypop
{
    overflow-y:Scroll;
    padding: 6px !important;
    background: #f6f7f8!important;
}
.THIS .slds-show{
    background: #f6f7f8 !important;
}
.THIS .slds-tabs_default__nav, 
.THIS .slds-tabs--default__nav{
    margin-bottom: .75rem;
}
.THIS .slds-tabs_default__nav .slds-is-active{
    color: #555 !important;
    background-color: #fff !important;
    font-size: 14px !important;
    border-radius: 50px !important;
    border: 1px #0c8dd4 solid !important;
}
.THIS .slds-is-active:after{
    background-color: transparent !important;
}
.THIS .slds-tabs_default__item:after, .THIS .slds-tabs--default__item:after{    
    content: none;
}
.THIS .toggle {
    display: none;
}
.THIS .siteforceLoadingBalls .global{
    display: none;
}
.THIS .slds-tabs_default__content .slds-tabs--default__content{     
    position: relative;
    padding: 1rem 0;
    padding-left: 1%;
}

.THIS .slds-tabs_default__content.slds-show,
.THIS .slds-tabs--default__content.slds-show{
    background: #f6f7f8 !important;
    height:calc(100vh - 517px);
    overflow-y:auto;
}
.THIS .input.uiOutputText{
    font-size:12px !important;
}
.THIS label{
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-size: 13px;
    font-weight:bold !important;
}
.THIS th{
    font-weight: 500;
}
.THIS .slds-page-content{
    overflow-y:auto;
}
.THIS ul{
    list-style: none !important;
} 
.THIS .form_compound{
    width: 100% !important;
    padding-left: 2%;
}
.THIS .slds-tabs--default__item.slds-active{
    color: #000;
}
.THIS .slds-modal__container{
    margin-top: 0px;
}
.THIS .slds-modal__container1{
    width: 33%;
}
.THIS .slds-modal{
    position: fixed; 
} 
.THIS .padding15{
    margin: 0;
    padding: 9px; 
}
.THIS .error_text{ 
    color: red;
}
.THIS .btnHide{
    display: none;
}
.THIS .btnShow{
    display: inline-block;
    
}
.THIS input{
    color: inherit !important;
    margin: 0 !important;
}
.THIS .divOuter{
    width:100%;
}
.THIS .divInner1{
    width:50%;
    display: inline-block;
    padding: 10px;
}
.THIS .divInner2{
    width:50%;
    float: right;
    padding: 10px;
}
.THIS .divInner3{
    width:100%;
    padding-bottom: 10px;
}
.THIS .divInner4  {
    width:100%;
}
.THIS .divInner5  {
    width:50%;
    display: inline-block;
}
.THIS .divInner6  {
    width:50%;
    float: right;
}
.THIS .divInner7  {
    width:30%;
    display: inline-block;
    padding: 5px;
    text-align: right;
}
.THIS .divInner8  {
    width:70%;
    float: right;
    padding: 5px;
}
.THIS .Sell_Notes{
    width: 100% !important;
    float: left !important;
}
.THIS .error_text1{
    font-size: 16px;
    font-family: inherit;
    color: #F44336;
    text-align: center;
}
.THIS .popup-font{
    font-size:13px !important; 
}
.THIS .popup-button{
    float: right;
    display: none;
    margin-right: -11px;
    margin-top: -9px;
    border: 1px solid rgba(214, 214, 214, 0.47);
}
.THIS .sec_background{
    background: rgb(244, 246, 249) !important;
    border-radius: 2px !important;
    width: 100% !important;
    padding: 6px !important;
    font-size: 1.2em;
    margin-bottom:10px;
}
.THIS .Customizedstocktable{
    min-width:500px !important;
}
.THIS #modal_popup .slds-modal__container{
    max-width: 45rem !important;
}
.THIS .uiInputDateTime .dateTime-inputTime{
    display:none !important;
}
.THIS .uiInputDateTime .dateTime-inputDate{
    width:100% !important;
}
.THIS .card-body{
    overflow-y: hidden !important;
}
.THIS .slds-modal__header,
.THIS .slds-modal__footer{
    background-color:#eff1f3;/*#A4D8F1;*//*#0c8dd4;*/
}
.THIS .slds-modal__content .slds-form-element p{
    color:black;
}
.THIS .underline:hover{
    text-decoration: none !important
}