.THIS .uiInput--select,.THIS .input .input .THIS .slds-input .uiInput--input .input, .THIS .uiInput--input.input, .THIS .border,.THIS .lightning-datepicker_datepicker .slds-form-element__control .slds-input-has-icon .slds-input-has-icon_right
{    border: 1px solid rgb(13, 156, 234) !important;
    font-size:0.8rem;
}
.THIS .box-card
{
margin-bottom:0px !important;
}
.THIS .slds-form-element__label
{
    text-align:left;
}
.THIS .radio-button
{
        
}
.THIS .uiInput--input .input
{
     border: 1px solid rgb(13, 156, 234) !important;
}
.THIS .card-bodypop
{
height: calc(100vh - 193px) !important;
overflow-y: auto !important;
    
}
.THIS .slds-dueling-list__column
{
width: 100px;
text-align: center;
}
.THIS .control
{
     font-size:0.8rem;
    color:#0c8dd4;
}
.THIS .card-head-pad, .THIS .box-card-header
{
padding:0px !important;
}
.THIS .error_text
{
    color:red;
    font-size:0.8rem;
}
.THIS .control, .THIS .wrap, .THIS .h_card_dataCom
{
        width: 50%;
    float: left;
}

.THIS .uiInput--radio input[type="radio"] {
    float: left;
    margin-top: 12px;
}
.THIS .dateTime-inputTime{
    display:none;
}
.THIS .info-icon
{
    line-height: 20px !important;
}
.THIS .slds-dueling-list__options
{
border: 1px solid rgb(13, 156, 234)!important;   
max-width: 460px !important;
height: 380px;
}
.THIS .slds-dueling-list__column_responsive
{
        min-width: 28rem !important;
}
.THIS .slds-dueling-list__column .slds-button:first-of-type
{
    border: 1px solid;
}

.THIS .card-bodypop
{
    overflow-y:Scroll;
    padding: 0px !important;
    background: #f6f7f8!important;
}
.THIS .box-card1
{
    width: 100%;
    background: #fff;
    border-radius: 4px;
    margin-bottom: 0px !important;
}
.THIS .editwi72 {
    width: 95px;
}
.THIS .card-header
{border-bottom: 1px #c6c6c6 dotted !important;
}
.THIS .btn-primary{
    color: #fff;
    background-color: #007bff !important;
    border-color: #007bff !important;
}
.THIS .error_text { 
    color: red;
}
.THIS .wi72 {
    width: 115px;
}
.THIS .slds-media {
    display: flow-root !important;
    align-items: flex-start !important;
}
.THIS .slds-dueling-list__column{
    width: 100px;
    text-align: left !important;
}