.THIS {
    position: relative;
    z-index: 1;
}
.THIS .selfServiceProfileMenuTrigger a {
    color: #ffffff;
    text-shadow: none !important;
}

.THIS .row {
    margin-right: 0 !important;
    margin-left: 0 !important;
}

.THIS .trigger-link {
    padding: 0;
    font-size: 14px !important;
    height: 30% !important;
    width: 208px !important;
}