.THIS .slds-dueling-list__options
{
border: 1px solid rgb(13, 156, 234)!important;   
max-width: 280px!important;
height: 150px;
}
.THIS .slds-dueling-list__column_responsive
{
        min-width: 18rem !important;
}
.THIS .slds-dueling-list__column .slds-button:first-of-type
{
    border: 1px solid;
}

.THIS .uiInput--select,.THIS .input .input .THIS .slds-input .uiInput--input .input, .THIS .uiInput--input.input, .THIS .border,.THIS .lightning-datepicker_datepicker .slds-form-element__control .slds-input-has-icon .slds-input-has-icon_right
{    border: 1px solid rgb(13, 156, 234) !important;
    font-size:0.8rem;
}
.THIS .input
{
    border: 1px solid rgb(13, 156, 234) !important;
    width:100%;
    border-radius: 3px;
    height: 33px;
}
.THIS .uiInput--input .input
{
     border: 1px solid rgb(13, 156, 234) !important;
}
.THIS .card-bodypop
{
height: calc(100vh - 190px)!important;
overflow-y: auto !important;
    
}
.THIS .box-card1
{
    width: 100%;
    background: #fff;
    border-radius: 4px;
    margin-bottom: 0px !important;
}
.THIS .control
{
     font-size:0.8rem;
    color:#0c8dd4;
}
.THIS .card-head-pad, .THIS .box-card-header
{
padding:0px !important;
}
.THIS .error_text
{
    color:red;
    font-size:0.8rem;
}
.THIS .control, .THIS .wrap, .THIS .h_card_dataCom
{
        width: 50%;
    float: left;
}

.THIS .uiInput--radio input[type="radio"] {
    float: left;
    margin-top: 12px;
}
.THIS .dateTime-inputTime{
    display:none;
}