<apex:page renderAs="pdf" controller="PDFCompletedTransaction"  showHeader="false"  sidebar="false" standardStylesheets="false" applyBodyTag="false" applyHtmlTag="false">
    <html>
        <head>
            <style>
                @page {
                size: letter;
                margin: 10mm;
                @bottom-center {
                content: counter(page) " of " counter(pages);
                font-size:10px;
                }
                }
                .page-break {
                display:block;
                page-break-after:always;
                }
                body {
                font-family: Arial Unicode MS;
                font-size:13px;
                }
                
            </style>
        </head>
        <body>
            <div style="width: 100%;margin: 0 auto;background-color: #FAFAFA;"> 
                <br/> 
                <hr style="border: 3px solid #2aaee4;margin-left: 10px;margin-right: 10px;" />
                <br/>        
                <apex:image id="theImage" width="20%" style="margin-left: 10px;" value="{!Offers.logo}"  alt="logo"/>    
                <br/>
                <hr style="border: 3px solid #2aaee4;margin-left: 10px;margin-right: 10px;" />
                <div style="page-break-after: always" >
                    <table style="width: 100%;margin: 0 auto;font-size: 12.8px;padding:10px;">
                        
                        <tr style="width:100%;">
                            <th colspan="3" style="padding:5px;text-align:left;font-weight:bold;width:30%;font-size:16px;"><h5 style="background-color:#4682b4;color:white;Padding:5px;">TRANSACTION DETAILS</h5></th>
                        </tr>
                        <tr style="width:100%;">
                            <th style="padding:5px;text-align:left;font-weight:600;color:#0c8dd4;width:30%;">Transaction Reference </th>
                            <th style="width:2%;">:</th>
                            <th style="padding:5px;font-size:12px;text-align:left;font-weight:normal;text-align:justify;">{!Offers.TransactionRefNumber}</th>
                        </tr>
                        <tr>
                            <th style="padding:5px;text-align:left;font-weight:600;color:#0c8dd4;">Market Type </th><th style="width:2%;">:</th>
                            <th style="padding:5px;text-align:left;font-weight:normal;text-align:justify;">{!Offers.MarketType}</th>
                        </tr>
                        <tr>
                            <th style="padding:5px;text-align:left;font-weight:600;color:#0c8dd4;">Product Type</th><th style="width:2%;">:</th>
                            <th style="padding:5px;text-align:left;font-weight:normal;text-align:justify;"> {!Offers.OfferType}</th>
                        </tr>
                        <tr>
                            <th style="padding:5px;text-align:left;font-weight:600;color:#0c8dd4;">Product</th> <th style="width:2%;">:</th>
                            <th style="padding:5px;text-align:left;font-weight:normal;text-align:justify;">{!Offers.prodTemplateName}</th>
                        </tr>
                        <tr>
                            <th style="padding:5px;text-align:left;font-weight:600;color:#0c8dd4;">Transaction Status</th><th style="width:2%;">:</th>
                            <th style="padding:5px;text-align:left;font-weight:normal;text-align:justify;">{!Offers.Status} </th>
                        </tr>
                        <tr>
                            <th style="padding:5px;text-align:left;font-weight:600;color:#0c8dd4;">Created By</th><th style="width:2%;">:</th>
                            <th style="padding:5px;text-align:left;font-weight:normal;text-align:justify;">{!Offers.CreatedBy}(IST)</th>
                        </tr>
                        <tr>
                            <th style="padding:5px;text-align:left;font-weight:600;color:#0c8dd4;">Created Date</th><th style="width:2%;">:</th>
                            <th style="padding:5px;text-align:left;font-weight:normal;text-align:justify;">{!Offers.CreatedDate}</th>
                        </tr>
                        <tr>
                            <th style="padding:5px;text-align:left;font-weight:600;color:#0c8dd4;">Issuing Bank</th><th style="width:2%;">:</th>
                            <th style="padding:5px;text-align:left;font-weight:normal;text-align:justify;">{!Offers.IssuingBankName}</th>
                        </tr>
                        <tr>
                            <th style="padding:5px;text-align:left;font-weight:600;color:#0c8dd4;">Transaction Amount</th><th style="width:2%;">:</th>
                            <th style="padding:5px;text-align:left;font-weight:normal;text-align:justify;">{!Offers.TransAmount}</th>
                        </tr>                      
                        <tr>
                            <th style="padding:5px;text-align:left;font-weight:600;color:#0c8dd4;">Currency</th><th style="width:2%;">:</th>
                            <th style="padding:5px;text-align:left;font-weight:normal;text-align:justify;">{!Offers.curr}</th>
                        </tr>                              
                        <tr>
                            <th style="padding:5px;text-align:left;font-weight:600;color:#0c8dd4;">Notes</th><th style="width:2%;">:</th>
                            <th style="padding:5px;text-align:left;font-weight:normal;text-align:justify;">{!Offers.Notes}</th>
                        </tr> 
                    </table>
                </div>
                <div style="page-break-after: always">
                    <table style="width: 100%;margin: 0 auto;font-size: 12.8px;padding:10px;">
                        <tr style="width:100%;">
                            <th colspan="3" style="padding:5px;text-align:left;font-weight:bold;width:30%;font-size:16px;"><h5 style="background-color:#4682b4;color:white;Padding:5px;">TRANSACTION ATTRIBUTES</h5></th>
                        </tr>
                        <apex:repeat value="{!Offers.Body}" var="body">
                            <tr><th style="padding:5px;text-align:left;font-weight:600;color:#0c8dd4;">
                                {!LEFT(body,(find(':',body)-1))}
                                </th><th style="width:2%;">:</th>
                                <th style="padding:5px;text-align:left;font-weight:normal;text-align:justify;">
                                    {!Right(body,(len(body)-find(':',body)))}
                                </th>
                            </tr>
                        </apex:repeat> 
                    </table> 
                </div>
                <br/><br/>
                
                <table style="width: 100%;margin: 0 auto;font-size: 12.8px;padding:10px;">
                    
                    <tr style="width:100%;">
                        <th style="width:50%;padding:5px;text-align:left;font-weight:600;color:#0c8dd4;font-size:16px;"><h5 style="background-color:#4682b4;color:white;Padding:5px;">ENTITY DETAILS</h5> </th>
                        <th style="width:50%;padding:5px;text-align:left;font-weight:600;color:#0c8dd4;font-size:16px;"><h5 style="background-color:#4682b4;color:white;Padding:5px;">COUNTERPARTY DETAILS</h5>
                            
                        </th>
                    </tr>
                    <tr>
                        <th> 
                            <span style="width:20%;padding:5px;text-align:left;font-weight:600;color:#0c8dd4;">Name</span>
                            <span style="width:2%;">&nbsp;&nbsp;&nbsp;:</span> 
                            <span style="padding:5px;text-align:left;font-weight:normal;text-align:justify;">{!Offers.PartyName}</span></th>
                        <th> 
                            <span style="width:20%;padding:5px;text-align:left;font-weight:600;color:#0c8dd4;">Name &nbsp;</span><span style="width:2%;">&nbsp;&nbsp;&nbsp;:</span> <span style="padding:5px;text-align:left;font-weight:normal;text-align:justify;">{!Offers.cPartyName}</span></th>
                        
                    </tr>       
                    
                    <tr>
                        <th> 
                            <span  style="width:20%;padding:5px;text-align:left;font-weight:600;color:#0c8dd4;">Title</span><span style="width:2%;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:</span> <span style="padding:5px;text-align:left;font-weight:normal;text-align:justify;">{!Offers.Title}</span></th>
                        <th> 
                            <span  style="width:20%;padding:5px;text-align:left;font-weight:600;color:#0c8dd4;">Title</span> <span style="width:2%;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:</span> <span style="padding:5px;text-align:left;font-weight:normal;text-align:justify;">{!Offers.cTitle}</span></th>
                        
                    </tr>
                    <tr>
                        <th> 
                            <span  style="width:20%;padding:5px;text-align:left;font-weight:600;color:#0c8dd4;">Email</span><span style="width:2%;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:</span> <span style="padding:5px;text-align:left;font-weight:normal;text-align:justify;">{!Offers.Email}</span></th>
                        <th> 
                            <span  style="width:20%;padding:5px;text-align:left;font-weight:600;color:#0c8dd4;">Email</span> <span style="width:2%;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:</span> <span style="padding:5px;text-align:left;font-weight:normal;text-align:justify;">{!Offers.cEmail}</span></th>
                        
                    </tr>
                    <tr>
                        <th> 
                            <span  style="width:20%;padding:5px;text-align:left;font-weight:600;color:#0c8dd4;">Phone</span><span style="width:2%;">&nbsp;&nbsp;&nbsp;&nbsp;:</span> <span style="padding:5px;text-align:left;font-weight:normal;text-align:justify;">{!Offers.Phone}</span></th>
                        <th> 
                            <span  style="width:20%;padding:5px;text-align:left;font-weight:600;color:#0c8dd4;">Phone</span> <span style="width:2%;">&nbsp;&nbsp;&nbsp;&nbsp;:</span> <span style="padding:5px;text-align:left;font-weight:normal;text-align:justify;">{!Offers.cPhone}</span></th>
                        
                    </tr>
                    <tr>
                        <th> 
                            <span  style="width:20%;padding:5px;text-align:left;font-weight:600;color:#0c8dd4;">Address</span><span style="width:2%;">&nbsp;:</span> <span style="padding:5px;text-align:left;font-weight:normal;text-align:justify;">{!Offers.City}</span></th>
                        <th> 
                            <span style="width:20%;padding:5px;text-align:left;font-weight:600;color:#0c8dd4;">Address</span> <span style="width:2%;">&nbsp;:</span> <span style="padding:5px;text-align:left;font-weight:normal;text-align:justify;">{!Offers.cCity}</span></th>
                        
                    </tr>
                    <tr>
                        <th> 
                            <span  style="width:20%;padding:5px;text-align:left;font-weight:600;color:#0c8dd4;">State</span><span style="width:2%;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:</span> <span style="padding:5px;text-align:left;font-weight:normal;text-align:justify;">{!Offers.State}</span></th>
                        <th> 
                            <span  style="width:20%;padding:5px;text-align:left;font-weight:600;color:#0c8dd4;">State</span> <span style="width:2%;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:</span> <span style="padding:5px;text-align:left;font-weight:normal;text-align:justify;">{!Offers.cState}</span></th>
                        
                    </tr>
                    <tr>
                        <th style="padding:5px;text-align:left;font-weight:600;color:#0c8dd4;">Yours Truly,
                            <br/>
                            
                        </th>
                        <th style="padding:5px;text-align:left;font-weight:600;color:#0c8dd4;">Yours Truly,
                            <br/>
                            
                        </th>
                    </tr>
                    
                    
                </table> 
                <div style="margin-top:550px !important;">
                    <hr style="border: 3px solid #2aaee4;margin-left: 10px;margin-right: 10px;" />
                    <h3 style="background-color:#4682b4;Padding:5px;color:white;text-align:center;">This is a computer-generated document. No signature is required.</h3>
                    <hr style="border: 3px solid #2aaee4;margin-left: 10px;margin-right: 10px;" />
                </div>
                <br/> 
            </div>
        </body>
    </html>
</apex:page>