.THIS .inputSize {
    width:80%; 
    margin-left: 35px !important;
}
.THIS .slds-pill__remove{
    position: absolute;   
    right: .125rem;
    transform: translateY(-50%);
  	top: 5px;
}
.THIS .slds-input__icon{
    right: 8.75rem !important;
}
.THIS .float-right{
    float: right !important;
    margin-right: 20px !important;
}