<apex:component controller="AmendApproveEmailCls" access="global">
    <apex:attribute name="transactionId" type="Id" description="Id of the Seller offer" assignTo="{!amendId}" />
    <div style="width: 75%;margin: 0 auto;background-color: #FAFAFA;">         
        <br/> 
        <hr style="border: 3px solid #2aaee4;margin-left: 10px;margin-right: 10px;" />
        <br/>        
        <apex:image id="theImage" width="15%" style="margin-left: 10px;" value="{!Amends.logo}"  alt="Amends.logotitle"/>    
        <br/>
        <hr style="border: 3px solid #2aaee4;margin-left: 10px;margin-right: 10px;" />
        <table>
            <tr style="width:100%;">
                <th style="padding:5px;text-align:left;font-weight:bold;width:30%;font-size:16px;">Dear Sir / Madam,</th>                
            </tr> 
            <tr style="width:100%;"> 
                <td colspan="3" style="padding:5px;">Amendment has been approved, Please find the details below,</td>
            </tr>    
             <tr style="width:100%;">
               <th colspan="3" style="padding:5px;text-align:left;font-weight:bold;width:30%;font-size:16px;"><a href="https://kotak-stratizantqa.cs78.force.com/demo/s/{!Amends.tenantname}?refURL={!Amends.TransId}">Click here to view the Amendment </a></th>
            </tr> 
            <tr style="width:100%;">
                <th style="padding:5px;text-align:left;font-weight:bold;width:30%;">Comments</th>
                <th style="width:2%;">:</th>
                <th style="padding:5px;text-align:left;font-weight:normal;width:68%;text-align:justify;">{!Amends.comments}</th>
            </tr>
        </table>
        <hr style="border: 3px solid #2aaee4;margin-left: 10px;margin-right: 10px;" />
        <div style="margin-left: 10px;">                  
        <br/>
            <p>{!Amends.Thanksmsg}</p>   
        </div>
        <hr style="border: 3px solid #2aaee4;margin-left: 10px;margin-right: 10px;" />
        <br/> 
    </div>
</apex:component>