<apex:component controller="BidSubmitEmailTemp" access="global">
    <apex:attribute name="syndId" type="Id" description="Id of the Seller offer" assignTo="{!quoteId}" />     
    <div style="width: 75%;margin: 0 auto;background-color: #FAFAFA;"> 
        <br/> 
        <hr style="border: 3px solid #2aaee4;margin-left: 10px;margin-right: 10px;" />
        <br/>        
        <apex:image id="theImage" width="15%" style="margin-left: 10px;" value="{!Quotes.partylogourl}"  alt="Offers.logotitle"/>    
        <br/>
        <hr style="border: 3px solid #2aaee4;margin-left: 10px;margin-right: 10px;" />
        <table>
            <tr style="width:100%;">
<<<<<<< HEAD
                <th style="padding:5px;text-align:left;font-weight:bold;width:30%;font-size:16px;">Dear Sir / Madam,</th>                
            </tr>
            <tr style="width:100%;"> 
                <td style="padding:5px;">{!Quotes.partyName} has closed the Trade Finance transaction. The details are provided below for your reference. Thank you for your participation.</td>
            </tr> 
            <apex:outputpanel rendered="{!Quotes.onboardingUser == true}">  
                <tr style="width:100%;"> 
                    <td style="padding:5px;"><a href="https://kotak-stratizantqa.cs78.force.com/demo/s/onboarding?cp={!Quotes.LB}&id={!Quotes.Id}&F=C">Click here to View the Transaction</a> </td>
                </tr> 
            </apex:outputpanel>
        </table>
        <table style="font-size: 12.8px;font-family: calibri;padding:10px;width:100%;">
            <tr style="width:100%;">
                <th style="padding:5px;text-align:left;font-weight:bold;width:30%;">Transaction Reference</th>
                <th style="width:2%;">:</th>
                <th style="padding:5px;text-align:left;font-weight:normal;width:68%;text-align:justify;">{!Quotes.TransactionReference}</th>
            </tr>
            <apex:outputpanel rendered="{!Quotes.IssuingBankhasValue == true}">            
                <tr style="width:100%;">
                    <th style="padding:5px;text-align:left;font-weight:bold;width:30%;">Issuing Bank</th>
                    <th style="width:2%;">:</th>
                    <th style="padding:5px;text-align:left;font-weight:normal;width:68%;text-align:justify;">{!Quotes.IssuingBank}</th>
                </tr> 
            </apex:outputpanel>
            <tr style="width:100%;">
                <th style="padding:5px;text-align:left;font-weight:bold;width:30%;">Quote Reference</th>
                <th style="width:2%;">:</th>
                <th style="padding:5px;text-align:left;font-weight:normal;width:68%;text-align:justify;">{!Quotes.BidReference}</th>
            </tr>
            <tr style="width:100%;">
                <th style="padding:5px;text-align:left;font-weight:bold;width:30%;">Quote Amount </th>
                <th style="width:2%;">:</th>
                <th style="padding:5px;text-align:left;font-weight:normal;width:68%;text-align:justify;">{!Quotes.Amount}</th>
            </tr>
            <tr style="width:100%;">
                <th style="padding:5px;text-align:left;font-weight:bold;width:30%;">Currency</th>
                <th style="width:2%;">:</th>
                <th style="padding:5px;text-align:left;font-weight:normal;width:68%;text-align:justify;">{!Quotes.BidCurrency}</th>
            </tr>
            <tr style="width:100%;">
                <th style="padding:5px;text-align:left;font-weight:bold;width:30%;">Quote Fee (bps)</th>
                <th style="width:2%;">:</th>
                <th style="padding:5px;text-align:left;font-weight:normal;width:68%;text-align:justify;">{!Quotes.bidFee}</th>
            </tr>   
            <tr style="width:100%;">
                <th style="padding:5px;text-align:left;font-weight:bold;width:30%;">Cost of Funds</th>
                <th style="width:2%;">:</th>
                <th style="padding:5px;text-align:left;font-weight:normal;width:68%;text-align:justify;">{!Quotes.costoffunds}</th>
            </tr>
=======
                <th style="padding:5px;text-align:left;font-weight:bold;width:30%;font-size:16px;">{!Quotes.firstname},</th>                
            </tr>
            <tr style="width:100%;"> 
                <td style="padding:5px;">{!Quotes.partyName} has closed the Trade Finance transaction. The details are provided below for your reference. Thank you for your participation.</td>
            </tr> 
            <apex:outputpanel rendered="{!Quotes.onboardingUser == true}">  
                <tr style="width:100%;"> 
                    <td style="padding:5px;"><a href="https://tradeaix99-cmfg.cs95.force.com/demo/s/onboarding?cp={!Quotes.LB}&id={!Quotes.Id}&F=C">Click here to View the Transaction</a> </td>
                </tr> 
            </apex:outputpanel>
        </table>
        <table style="font-size: 12.8px;font-family: calibri;padding:10px;width:100%;">
            <tr style="width:100%;">
                <th style="padding:5px;text-align:left;font-weight:bold;width:30%;">Transaction Reference</th>
                <th style="width:2%;">:</th>
                <th style="padding:5px;text-align:left;font-weight:normal;width:68%;text-align:justify;">{!Quotes.TransactionReference}</th>
            </tr>
            <apex:outputpanel rendered="{!Quotes.IssuingBankhasValue == true}">            
                <tr style="width:100%;">
                    <th style="padding:5px;text-align:left;font-weight:bold;width:30%;">Issuing Bank</th>
                    <th style="width:2%;">:</th>
                    <th style="padding:5px;text-align:left;font-weight:normal;width:68%;text-align:justify;">{!Quotes.IssuingBank}</th>
                </tr> 
            </apex:outputpanel>
            <tr style="width:100%;">
                <th style="padding:5px;text-align:left;font-weight:bold;width:30%;">Quote Reference</th>
                <th style="width:2%;">:</th>
                <th style="padding:5px;text-align:left;font-weight:normal;width:68%;text-align:justify;">{!Quotes.BidReference}</th>
            </tr>
            <tr style="width:100%;">
                <th style="padding:5px;text-align:left;font-weight:bold;width:30%;">Quote Amount </th>
                <th style="width:2%;">:</th>
                <th style="padding:5px;text-align:left;font-weight:normal;width:68%;text-align:justify;">{!Quotes.Amount}</th>
            </tr>
            <tr style="width:100%;">
                <th style="padding:5px;text-align:left;font-weight:bold;width:30%;">Currency</th>
                <th style="width:2%;">:</th>
                <th style="padding:5px;text-align:left;font-weight:normal;width:68%;text-align:justify;">{!Quotes.BidCurrency}</th>
            </tr>
            <tr style="width:100%;">
                <th style="padding:5px;text-align:left;font-weight:bold;width:30%;">Quote Fee (bps)</th>
                <th style="width:2%;">:</th>
                <th style="padding:5px;text-align:left;font-weight:normal;width:68%;text-align:justify;">{!Quotes.bidFee}</th>
            </tr>            
>>>>>>> branch 'master' of https://Tradeaix-dev@bitbucket.org/Tradeaix-dev/tradeaix-kotak.git
            <tr style="width:100%;">
                <th style="padding:5px;text-align:left;font-weight:bold;width:30%;">Quote Status</th>
                <th style="width:2%;">:</th>
                <th style="padding:5px;text-align:left;font-weight:normal;width:68%;text-align:justify;">{!Quotes.BidStatus}</th>
            </tr>
            <tr style="width:100%;">
                <th style="padding:5px;text-align:left;font-weight:bold;width:30%;">Quote Expiration Date</th>
                <th style="width:2%;">:</th>
                <th style="padding:5px;text-align:left;font-weight:normal;width:68%;text-align:justify;">{!Quotes.Expirationdate}</th>
            </tr>      
        </table>
        <hr style="border: 3px solid #2aaee4;margin-left: 10px;margin-right: 10px;" />
        <div style="margin-left: 10px;">                  
            <br/>           
            <p>{!Quotes.partyName}</p>            
        </div>
        <hr style="border: 3px solid #2aaee4;margin-left: 10px;margin-right: 10px;" />
        <br/> 
    </div>
</apex:component>