<apex:component controller="OTPDisagreeNotificationEmailTemp" access="global">
    <apex:attribute name="tenantId" type="Id" description="Id of the Seller offer" assignTo="{!tenantuserId}" /> 
    <div style="width: 60%;background-color: #FAFAFA;">        
    <br/> 
    <!--<hr style="border: 3px solid #2aaee4;margin-left: 10px;margin-right: 10px;" />
    <br/>        
    <!--<apex:image id="theImage" width="30%" style="margin-left: 10px;" value="{!Users.logo}"/>  
    <br/>
    <hr style="border: 3px solid #2aaee4;margin-left: 10px;margin-right: 10px;" /> --> 
    
    <div style="margin-left: 10px;">
    Dear {!Users.username},
    </div>
    <br/>
    <div style="margin-left: 10px;"> 
    
    <br/> 
    <B>{!Users.Biddername}</B> is not agree the <B>{!Users.Transref}</B> transaction.
    <br/><br/> 
        
    Thank you.
    </div>
    
    <br/>
    <!--  <hr style="border: 3px solid #2aaee4;margin-left: 10px;margin-right: 10px;" />
    <div style="margin-left: 10px;">                  
    <br/>
    {!Users.Thanksmsg}
    </div>
    <hr style="border: 3px solid #2aaee4;margin-left: 10px;margin-right: 10px;" />-->
    <br/> 
    </div>
    </apex:component>