<apex:component controller="TaskupdateEmailclass" access="global">
    <apex:attribute name="transactionId" type="Id" description="Id of the Seller offer" assignTo="{!activelogId}" /> 
    <div style="width: 75%;margin: 0 auto;background-color: #FAFAFA;"> 
        <br/> 
        <hr style="border: 3px solid #2aaee4;margin-left: 10px;margin-right: 10px;" />
        <br/>        
        <apex:image id="theImage" width="15%" style="margin-left: 10px;" value="{!details.logo}"  alt="{!details.logo}"/>
        <br/>
        <hr style="border: 3px solid #2aaee4;margin-left: 10px;margin-right: 10px;" />
        <table style="font-size: 12.8px;font-family: calibri;padding:10px;width:100%;">
            <tr style="width:100%;">
                <th style="padding:5px;text-align:left;font-weight:bold;width:30%;font-size:16px;">Dear User,</th>
                <th ></th>
                <th ></th>
            </tr>
            <tr style="width:100%;">
               <th colspan="3" style="padding:5px;text-align:left;font-weight:bold;width:30%;font-size:16px;">A task has been updated, Please find the task details below,</th>
            </tr>
            <tr style="width:100%;">
                <th style="padding:5px;text-align:left;font-weight:bold;width:30%;">Task Type </th>
                <th style="width:2%;">:</th>
                <th style="padding:5px;text-align:left;font-weight:normal;width:68%;text-align:justify;">{!details.tasktype}</th>
            </tr>
            <tr>
                <th style="padding:5px;text-align:left;font-weight:bold;">Task Subject  </th><th style="width:2%;">:</th>
                <th style="padding:5px;text-align:left;font-weight:normal;text-align:justify;">{!details.tasksubject}</th>
            </tr>
            <tr>
                <th style="padding:5px;text-align:left;font-weight:bold;">Due Date</th><th style="width:2%;">:</th>
                <th style="padding:5px;text-align:left;font-weight:normal;text-align:justify;"> {!details.duedate}</th>
            </tr>
            <tr>
                <th style="padding:5px;text-align:left;font-weight:bold;">Priority</th> <th style="width:2%;">:</th>
                <th style="padding:5px;text-align:left;font-weight:normal;text-align:justify;">{!details.priority}</th>
            </tr>
            <tr>
                <th style="padding:5px;text-align:left;font-weight:bold;">Status</th><th style="width:2%;">:</th>
                <th style="padding:5px;text-align:left;font-weight:normal;text-align:justify;">{!details.status} </th>
            </tr>
            <tr>
                <th style="padding:5px;text-align:left;font-weight:bold;">Comments</th><th style="width:2%;">:</th>
                <th style="padding:5px;text-align:left;font-weight:normal;text-align:justify;">{!details.comments} </th>
            </tr>  
            <tr style="width:100%;">
               <th colspan="3" style="padding:5px;text-align:left;font-weight:bold;width:30%;font-size:16px;">Click below link to view the transaction</th>
            </tr>
              <tr style="width:100%;">
               <th colspan="3" style="padding:5px;text-align:left;font-weight:bold;width:30%;font-size:16px;"><a href="https://kotak-stratizantqa.cs78.force.com/demo/s/transactionviewdetails?transactionId={!details.transId}">Click here to view the Transaction</a> </th>
            </tr> 
           
        </table>
        <hr style="border: 3px solid #2aaee4;margin-left: 10px;margin-right: 10px;" />
        <div style="margin-left: 10px;">                  
        <br/>
            Thanks
        </div>
        <hr style="border: 3px solid #2aaee4;margin-left: 10px;margin-right: 10px;" />
        <br/> 
    </div>
</apex:component>