<apex:component controller="TenantCreateEmailTemp" access="global">
    <apex:attribute name="tenId" type="Id" description="Id of the Seller offer" assignTo="{!tenantId}" /> 
    <div style="width: 75%;margin: 0 auto;background-color: #FAFAFA;"> 
        <br/> 
        <hr style="border: 3px solid #2aaee4;margin-left: 10px;margin-right: 10px;" />
        <br/>        
        <apex:image id="theImage" width="15%" style="margin-left: 10px;" value="{!Tenant.logo}"  alt="{!Tenant.tenantname}"/>    
        <br/>
        <hr style="border: 3px solid #2aaee4;margin-left: 10px;margin-right: 10px;" />
        <table style="font-size: 12.8px;font-family: calibri;padding:10px;width:100%;">
            <tr style="width:100%;">
                <th style="padding:5px;text-align:left;font-weight:bold;width:30%;font-size:16px;">Hi,</th>
                <th ></th>
                <th ></th>
            </tr>
            <tr style="width:100%;">
               <th colspan="3" style="padding:5px;text-align:left;font-weight:bold;width:30%;font-size:16px;">{!Tenant.tenantname} has been created successfully.</th>
            </tr>
            <tr style="width:100%;">
                <th colspan="3" style="padding:5px;text-align:left;font-weight:bold;width:30%;font-size:16px;">The entity details as follows,</th>
            </tr>
            <tr style="width:100%;">
                <th style="padding:5px;text-align:left;font-weight:bold;width:30%;">Entity Site Name  </th>
                <th style="width:2%;">:</th>
                <th style="padding:5px;text-align:left;font-weight:normal;width:68%;text-align:justify;">{!Tenant.tenantname}</th>
            </tr>
            <tr>
                <th style="padding:5px;text-align:left;font-weight:bold;">Entity Organization Name  </th><th style="width:2%;">:</th>
                <th style="padding:5px;text-align:left;font-weight:normal;text-align:justify;">{!Tenant.orgname}</th>
            </tr>
            <tr>
                <th style="padding:5px;text-align:left;font-weight:bold;">Entity Swift Code </th><th style="width:2%;">:</th>
                <th style="padding:5px;text-align:left;font-weight:normal;text-align:justify;"> {!Tenant.swiftcode}</th>
            </tr>
            <tr>
                <th style="padding:5px;text-align:left;font-weight:bold;">Entity Type </th> <th style="width:2%;">:</th>
                <th style="padding:5px;text-align:left;font-weight:normal;text-align:justify;">{!Tenant.tenanttype}</th>
            </tr>                     
            <tr>
                <th style="padding:5px;text-align:left;font-weight:bold;">Primary Contact Name</th><th style="width:2%;">:</th>
                <th style="padding:5px;text-align:left;font-weight:normal;text-align:justify;">{!Tenant.contactname}</th>
            </tr>  
            <tr>
                <th style="padding:5px;text-align:left;font-weight:bold;">Primary Contact Phone</th><th style="width:2%;">:</th>
                <th style="padding:5px;text-align:left;font-weight:normal;text-align:justify;">{!Tenant.contactphone}</th>
            </tr>  
            <tr>
                <th style="padding:5px;text-align:left;font-weight:bold;">Primary Contact Email</th><th style="width:2%;">:</th>
                <th style="padding:5px;text-align:left;font-weight:normal;text-align:justify;">{!Tenant.contactemail}</th>
            </tr>  
            <tr>
                <th style="padding:5px;text-align:left;font-weight:bold;">Created By</th><th style="width:2%;">:</th>
                <th style="padding:5px;text-align:left;font-weight:normal;text-align:justify;">{!Tenant.CreatedBy}</th>
            </tr>
            <tr>
                <th style="padding:5px;text-align:left;font-weight:bold;">Created Date</th><th style="width:2%;">:</th>
                <th style="padding:5px;text-align:left;font-weight:normal;text-align:justify;">{!Tenant.CreatedDate}</th>
            </tr>
           
        </table>
        <hr style="border: 3px solid #2aaee4;margin-left: 10px;margin-right: 10px;" />
        <div style="margin-left: 10px;">                  
        <br/>
            {!Tenant.Thanksmsg}
        </div>
        <hr style="border: 3px solid #2aaee4;margin-left: 10px;margin-right: 10px;" />
        <br/> 
    </div>
</apex:component>