<apex:component access="global">
   <!--  <apex:attribute name="docsId" type="Id" description="Id of the account" assignTo="{!docId}"/>  
    <p>
        CU Name : {!SignedUsers.CUName} Charter # : {!SignedUsers.CharterNo} has signed the Terms and Conditions for the Loan Participation Network. Please let the Loan Participation Network Team (LoanParticipationBeta@cunamutual.com) know if you have any questions. Thanks!
    </p>    
   <p> Thank you for signing the CUNA Mutual Group Loan Participation Network – End User Terms and Conditions.  You and all authorized users at your Credit Union now have access to all Network functionality, subject to the previously signed Network Non-Disclosure Agreement and End User Terms and Conditions.</p> -->
</apex:component>