.THIS {
}

.THIS.slds-size--3-of-8 {
    margin-left: 475px;
}

.THIS.headerClass {
    width: 200px;
}
/* Radio button design-START*/
.THIS .hidden
{
 display: none;   
}
.THIS .radio-button
{
    float: none !important;
}
.THIS .uiLabel
{
    font-size:14px;
}
.THIS .radio-button.active
{
  background: rgb(12, 141, 212)!important  
}
/* Radio button design-END*/

.THIS .card-body1{
       flex: 1 1 auto;
    padding-left: 15px !important;
    padding-right: 15px !important;
    background: #f6f7f8;
    overflow-y: scroll;
}
.THIS .m_pannel
{
    background: #f6f7f8 !important;
}
.THIS .info-icon
{
    line-height: 20px !important;
}
.THIS .uiInput--input .input, .THIS .uiInput--input.input, .THIS .border
{    border: 1px solid rgb(13, 156, 234)!important;
}
.THIS .card-bodypop
{
    padding: 6px !important;
    background: #f6f7f8 !important;
}
.THIS .box-card1
{
    width: 100%;
    background: #fff;
    border-radius: 4px;
    margin-bottom: 0px !important;
}
.THIS .card-header
{border-bottom: 1px #c6c6c6 dotted !important;
}
.THIS .editwi72
{    width: 88px;}
.THIS .btn-primary{
    color: #fff;
    background-color: #007bff !important;
    border-color: #007bff !important;
}
.THIS .error_text { 
    color: red;
}
.THIS .wi72 {
    width: 95px;
}
.THIS .slds-dueling-list__options, 
.THIS .slds-picklist__options{
    height:13rem !important;
}
.THIS .slds-text-link--reset {
    color: inherit !important;
    text-decoration: none !important;
    width: 100% !important;
   /* height: 47px !important;*/
    text-align: left !important;
    padding-left:0px !important;
    padding-right:0px !important;
    font-size: 12px !important;
    box-shadow: none !important;
    display: inline-table !important;
    background: #f6f7f8;
}

.THIS .Customizedstocktable{
    min-width:100%;
}
.THIS .Customizedstocktable tbody, 
.THIS .Customizedstocktable thead ,
.THIS .Customizedstocktable tr,
.THIS .Customizedstocktable th,
.THIS .Customizedstocktable td {
    display: block;
}
.THIS .Customizedstocktable tbody {   
    height: 625px;
    overflow-y: auto;
    width:100%; 
}
.THIS .Customizedstocktable thead{
    width:99%;
}
.THIS .Customizedstocktable tbody tr{
    clear:both;
}
.THIS .Customizedstocktable th, .THIS .Customizedstocktable td {
    width: 10%;
    float: left;
}
.THIS .slds-table--striped tbody tr:nth-of-type(even) {
    background: #f4f6f9 !important;
    display: table;
    width: 100%;
}

.THIS .slds-table:not(.slds-no-row-hover) tbody tr:hover{
    background: #f4f6f9 !important;
    display: table;
    width: 100%;
}
.THIS .slds-modal__container{
     max-width: 55rem !important;
}