.THIS .uiInput--select, .THIS .slds-input .uiInput--input .input, .THIS .uiInput--input.input, .THIS .border,.THIS .lightning-datepicker_datepicker .slds-form-element__control .slds-input-has-icon .slds-input-has-icon_right .uiInput--select
{    border: 1px solid rgb(13, 156, 234) !important;
    font-size:0.8rem;
}
.THIS .uiOutputText1
{
font-size:0.8em !important;}
.THIS .appyfilter
{
color:#fff;
}
.THIS .gray
{
    color:white;
    background-color:gray;
}
.THIS .hide
{
    display:none !important;
}
.THIS .input
        {
        border: 1px solid rgb(13, 156, 234) !important; 
        font-size:0.8rem;}
.THIS .card-bodypop
{
        overflow-y: scroll;
    padding: 6px !important;
    background: #f6f7f8!important;
}
.THIS .box-card1
{
    width: 100%;
    background: #fff;
    border-radius: 4px;
    margin-bottom: 0px !important;
}
.THIS .card-header
{border-bottom: 1px #c6c6c6 dotted !important;
}
.THIS .Newfilter{
border-radius: 29px;
        border-radius: 33px;
    margin-left: -46px;
    border: 1px solid #4169e1;
    height: 36px;
    background-color: #4169e1;
    color: white;
}
.THIS .inputsearch
{
border-radius: 29px;
}
.THIS .createwi72 {
    width: 95px;
}
.THIS .Mpcreatewi72 {
    width: 150px;
}
.THIS .Filcreatewi72
{
    width: 220px !important;
}
.THIS .wi72
{
    width: 215px !important;
}
.THIS .slds-text-link--reset {
    color: inherit !important;
    text-decoration: none !important;
    width: 100% !important;
    height: 47px !important;
    text-align: left !important;
    padding-left:0px !important;
    padding-right:0px !important;
    font-size: 17px !important;
    box-shadow: none !important;
    display: inline-table !important;
}
.THIS .sec_background{
    margin-bottom:10px;
}
.THIS .slds-text-link--reset1 {
    color: inherit !important;
    text-decoration: none !important;
    width: 100% !important;
    height: 47px !important;
    text-align: left !important;
    padding-left:0px !important;
    padding-right:0px !important;
    font-size: 17px !important;
    box-shadow: none !important;
    display: inline-table !important;
}
.THIS .slds-text-link--reset121 {
    color: inherit !important;
    text-decoration: none !important;
    width: 100% !important;
    height: 47px !important;
    text-align: left !important;
    padding-left:0px !important;
    padding-right:0px !important;
    font-size: 17px !important;
    box-shadow: none !important;
    display: inline-table !important;
}

.THIS .divInner7  {
    width:40%;
    display: inline-block;
    padding: 5px;
    text-align: right;
    float: Left;
}

.THIS .divInner8  {
    width:60%;
    float: right;
    padding: 5px;
    
}

.THIS .slds-modal__container
{
    margin-top: 45px;
}
.THIS .slds-modal 
{
    position: fixed; 
} 
.THIS .padding15 
{
    margin: 0;
    padding: 3px; 
}
.THIS .error_text 
{
    color: red;
}

.THIS .scrollable {
    overflow: auto;
}

.THIS .Sell_Ofrr_Name
{
    width: 50% !important;	
    float: left !important;
}
.THIS .Int_Offr_Id
{
    width: 50% !important;
    float: right !important;
}
.THIS .Parti_cipation1
{
    width: 50% !important; 
}
.THIS .Parti_cipation
{
    width: 50% !important;
    float: left !important;
    
}
.THIS .loan_type
{
    width: 50% !important;
    float: right !important;
}
.THIS .Port_Character
{
    width: 100% !important;
}
.THIS .Orig_Princ
{
    width: 50% !important;
    float: left !important;
}
.THIS .W_A_C
{
    width: 50% !important;
    float: right !important;
}
.THIS .Cur_Princ
{
    width: 50% !important;
    float: left !important;
}
.THIS .Fico_WA
{
    width: 50% !important;
    float: right !important;
}
.THIS .Numb_Loan
{
    width: 50% !important;
    float: left !important;
}

.THIS .Min_Fico
{
    width: 50% !important;
    float: right !important;
}
.THIS .Cur_Loan_Amount
{
    width: 50% !important;
    float: left !important;
}
.THIS .WA_Orig_Term
{
    width: 50% !important;
    float: right !important;
}
.THIS .wa_ltv
{
    width: 50% !important;
    float: left !important;
}
.THIS .WA_Remain_Term
{
    width: 50% !important;
    float: right !important;
}
.THIS .WA_DTI
{
    width: 50% !important;
    float: left !important;
}
.THIS .New
{
    width: 50% !important;
    float: right !important;
}
.THIS .Indirect
{
    width: 50% !important;
    float: left !important;
}
.THIS .Avg_Vehicle
{
    width: 50% !important;
    float: right !important;
}
.THIS .Chrg_Off
{
    width: 50% !important;
    float: left !important;
}
.THIS .WA_Life_Loan
{
    width: 50% !important;
    float: right !important;
}
.THIS .Porf_Price
{
    width: 100% !important;
}

.THIS .Portfol_Price
{
    width: 50% !important;
    float: left !important;
}

.THIS .Ser_Fee
{
    width: 50% !important;
    float: right !important;
}

.THIS .Sell_Notes
{
    width: 100% !important;
    float: left !important;
}


.THIS .Customizedstocktable{
    min-width:100%;
}
.THIS .Customizedstocktable tbody, 
.THIS .Customizedstocktable thead ,
.THIS .Customizedstocktable tr,
.THIS .Customizedstocktable th,
.THIS .Customizedstocktable td {
    display: block;
}

.THIS .Customizedstocktable tbody {   
    overflow-y: auto;
    width:100%;
}
.THIS .Customizedstocktable thead{
    width:100%;
}

.THIS .Customizedstocktable tbody tr{
    clear:both;
}

.THIS .Customizedstocktable th, .THIS .Customizedstocktable td {
    width: 14.20%;
    float: left;
}

.THIS .Customizedstocktable th:nth-child(1), 
.THIS .Customizedstocktable td:nth-child(1),
.THIS .Customizedstocktable th:nth-child(2), 
.THIS .Customizedstocktable td:nth-child(2),
.THIS .Customizedstocktable th:nth-child(3), 
.THIS .Customizedstocktable td:nth-child(3),
.THIS .Customizedstocktable th:nth-child(4), 
.THIS .Customizedstocktable td:nth-child(4),
.THIS .Customizedstocktable th:nth-child(5), 
.THIS .Customizedstocktable td:nth-child(5),
.THIS .Customizedstocktable th:nth-child(6), 
.THIS .Customizedstocktable td:nth-child(6),
.THIS .Customizedstocktable th:nth-child(7), 
.THIS .Customizedstocktable td:nth-child(7){
    width: 14.28%;
    float: left;
}


.THIS .Customizedstocktable th:nth-child(8), 
.THIS .Customizedstocktable td:nth-child(8),
.THIS .Customizedstocktable th:nth-child(9), 
.THIS .Customizedstocktable td:nth-child(9){
    width: 0%;
    float: left;
}

.THIS .slds-table--striped tbody tr:nth-of-type(even) {
    background: #f4f6f9 !important;
    display: table;
    width: 100%;
}

.THIS .input {
    border: 0!important;
}
.THIS .slds-table:not(.slds-no-row-hover) tbody tr:hover{
    background: #f4f6f9 !important;
    display: table;
    width: 100%;
}
/*.THIS .control, .THIS .wrap, .THIS .h_card_dataCom
{
    width: 50%;
    float: left;
    
}*/
.THIS .h_card_dataCom1
{
    font-size: 0.9em;
    color: #0c8dd4;
    width: 50%;
    float: left;
    font-weight: 500 !important;
}
.THIS .col-md-6
{
max-width:100%;
}

.THIS .form-group
{
    width: 33.3%;
    float: left;
   
}
.THIS .h_card_dataCom
{
    font-weight: 500 !important;
    font-size:0.9em;
}
.THIS .aligin {
    padding-right: 5px;
    padding-left: 5px;
}
.THIS #modal_popup .slds-modal__container{
    max-width: 45rem !important;
}
.THIS .uiInputDateTime .dateTime-inputTime{
    display:none !important;
}
.THIS .uiInputDateTime .dateTime-inputDate{
    width:100% !important;
}
.THIS .uiInput--radio input[type=radio]{
    float:left !important;
    margin-right:5px !important;
    margin-top:4px !important;
}