.THIS ul{
	list-style: none !important;
}
.THIS .sec_background {
    background: rgb(244, 246, 249) !important;
    border-radius: 2px !important;
    width: 100% !important;
    padding: 6px !important;
    font-size: 1.2em;
    margin-bottom:10px;
}
.THIS .slds-table--striped tbody tr:nth-of-type(even) {
    background: #f4f6f9 !important;
    width: 100%;
}
.THIS .slds-table:not(.slds-no-row-hover) tbody tr:hover {
    background: #f4f6f9 !important;
    width: 100%;
}
.THIS .table-responsive-one,
.THIS .table-responsive-three{
    height: calc(100vh - 256px) !important;
    display: block !important;
    box-sizing: border-box !important;
    overflow-y: auto !important;
}